/* ====================================
   T-HERO COMPONENT STYLING
   ==================================== */

t-hero {
    display: block;
    width: 90%;
    max-width: 1080px;
    margin: var(--spacing6) auto;
}

t-hero::part(hero-title) {
    margin-top: var(--spacing7);
    margin-bottom: var(--spacing3);
}

t-hero::part(hero-heading) {
    color: var(--text-muted);
    margin-top: var(--spacing5);
    margin-bottom: var(--spacing6);
}

t-hero::part(hero-body-wrapper) {
    margin-bottom: var(--spacing5);
    color: var(--text);
}

t-hero::part(cta-buttons) {
    display: flex;
    margin-top: var(--spacing6);
    gap: var(--spacing6);

}

.cta {
    padding: var(--spacing4) var(--spacing5);
    text-decoration: none;
    border-radius: var(--spacing4);
    font: var(--p-bold);
    transition: background-color 0.3s;
    text-align: center;
}

.cta-primary {
    background-color: var(--primary);
    color: var(--bg-light);
    border: 2px solid var(--border);
}

.cta-primary:hover {
    background-color: var(--highlight);
    color: var(--text);
}


.cta-secondary {
    color: var(--text-muted);
    border: 2px solid var(--border);
}

.cta-secondary:hover {
    background-color: var(--highlight);
    color: white;
}

@media (max-width: 600px) {
    t-hero::part(cta-buttons) {
        flex-direction: column;
    }
}