flip-card {
    display: block; 
}

@media (max-width: 768px) {
    .poker-flip-card {
        width: 350px; 
        max-width: 90%;
        
        margin: 0 auto var(--spacing4) auto; 
    }
}

.poker-container {
    max-width: 1080px;
    text-align: center;
    padding: var(--spacing5) 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--spacing5);
}

th,
td {
    text-align: left;
    padding: var(--spacing3);
    border-bottom: 1px solid var(--border-color);
}

th {
    background: var(--bg-light);
}

h1 {
    margin-bottom: var(--spacing5);
}

.leaderboard-table-container {
    width: 100%;
    overflow-x: auto; 
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.leaderboard-table-container::-webkit-scrollbar {
    display: none;
}